@use './colors' as c;

// ---------------
// NAV
// ---------------
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: c.$white;
	height: 6em;
	padding: 1em;
	z-index: 100;

	.nav-brand {
		display: flex;
		font-size: 3rem;
		text-decoration: none;
		color: c.$dark;
		.nav-brand-icon{
			width: 3rem;
		}
	}
	.nav {
		&-mobile {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: c.$dark;
			transform: translateX(-102%);
			transition: transform 0.3s;
			z-index: 1;

			&--active {
				transform: translateX(0);
			}
		}

		&__link {
			position: relative;
			display: inline-block;
			margin: 0.5em;
			padding: 0.5em;
			font-size: 2.3rem;
			color: c.$light-white;
			text-decoration: none;
			transition: color 0.4s;
			&:hover {
				color: c.$green;
			}
		}
		.active {
			background-color: c.$dark;
			color: c.$white;
		}
		.link,
		.link::after,
		.link::before {
			transition: 0.3s;
		}
		.link::before,
		.link::after {
			content: '';
			position: absolute;
			width: 0px;
			height: 0px;
		}
		.link::before {
			top: -2px;
			left: -8px;
			border-top: 0 solid c.$green;
			border-left: 0 solid c.$green;
		}
		.link::after {
			bottom: -2px;
			right: -8px;
			border-bottom: 0 solid c.$green;
			border-right: 0 solid c.$green;
		}
		.link:hover::before,
		.link:hover::after {
			width: 50px;
			height: 50%;
		}
		.link:hover::before {
			border-top: 3px solid c.$green;
			border-left: 3px solid c.$green;
		}

		.link:hover::after {
			border-bottom: 3px solid c.$green;
			border-right: 3px solid c.$green;
		}
		&-desktop {
			display: none;
		}
	}

	.nav-btn {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		top: 2.9em;
		right: 1em;
		transform: translateY(-50%);
		width: 3.5rem;
		height: 2.5rem;
		cursor: pointer;
		overflow: hidden;
		z-index: 100;
		span {
			background-color: c.$dark;
			width: 100%;
			height: 3.2px;
			transition: all 0.3s ease;
			pointer-events: none;
			z-index: 100;
		}
	}

	.is-active {
		justify-content: center;
		span {
			background-color: c.$text;
			margin-top: -1.2px;
			margin-bottom: -1.2px;
		}
		span:first-child {
			transform: rotate(45deg);
		}
		span:nth-child(2) {
			opacity: 0;
			transform: translateX(-100%);
		}
		span:last-child {
			transform: rotate(-45deg);
		}
	}
}
